
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon {
    font-size: 2rem;
    color: #ff8c00; 
}

.icon2 {
    font-size: 2rem;
    color: rgb(0, 87, 128) 

}

.orange {
    
    color: #ff8c00; 
}

.news {

    justify-content: center;
    display: flex;
    color: white; 
    align-items: center;
    font-size: .8rem;
    margin-left: -600px;
    margin-top: -60px;
}

.cryptorecommendations {
    font-size: 11px;
    margin-top: -30px;
}

.cryptonews {
    font-size: 11px;
    margin-top: -15px;
}
