@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

} 

body {
  margin: 0;
  font-family: 'Koulen', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #26272b;
  color: white; 

}

a {
color: white; 
 text-decoration: none;

}

h1 {

    text-align: center;
    margin: 1rem; 


}

button {
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid white; 
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family: 'Koulen', 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
font-weight:300;
color: black; 
text-align:center;
transition: all 0.2s;

}


button:hover{
color:#000000;
background-color:#544c4c;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
